# Last match in file takes precedence.

# Everything
*                                                   @CollectionOfBones128

# C# code
/Content.*/                                         @CollectionOfBones128

# YML files
/Resources/*.yml                                    @CollectionOfBones128
/Resources/**/*.yml                                 @CollectionOfBones128

# FTL files
/Resources/Locale                                   @CollectionOfBones128

# Server info and rules
/Resources/ServerInfo                               @CollectionOfBones128

# Sprites
/Resources/Textures/                                @CollectionOfBones128

# Lobby art and music
/Resources/Audio/Lobby/                             @CollectionOfBones128
/Resources/Audio/_Box/Lobby/                    	@CollectionOfBones128
/Resources/Textures/LobbyScreens/                   @CollectionOfBones128
/Resources/Textures/_Box/LobbyScreens/          	@CollectionOfBones128

# Maps
/Resources/Maps/                                    @CollectionOfBones128 @BlueMoon059
/Resources/Prototypes/Maps/                         @CollectionOfBones128 @BlueMoon059
/Resources/Prototypes/_Box/Maps/                    @CollectionOfBones128 @BlueMoon059
/Content.IntegrationTests/Tests/PostMapInitTest.cs  @CollectionOfBones128 @BlueMoon059
