# Last match in file takes precedence.

# Everything
*                                                   @superjeepboy @CollectionOfBones128

# C# code
/Content.*/                                         @superjeepboy

# YML files
/Resources/*.yml                                    @superjeepboy @CollectionOfBones128
/Resources/**/*.yml                                 @superjeepboy @CollectionOfBones128

# FTL files
/Resources/Locale                                   @superjeepboy @CollectionOfBones128

# Server info and rules
/Resources/ServerInfo                               @superjeepboy

# Sprites
/Resources/Textures/                                @CollectionOfBones128

# Lobby art and music
/Resources/Audio/Lobby/                             @superjeepboy @CollectionOfBones128
/Resources/Audio/_Box/Lobby/                    	@superjeepboy @CollectionOfBones128
/Resources/Textures/LobbyScreens/                   @superjeepboy @CollectionOfBones128
/Resources/Textures/_Box/LobbyScreens/          	@superjeepboy @CollectionOfBones128

# Maps
/Resources/Maps/                                    @CollectionOfBones128
/Resources/Prototypes/Maps/                         @CollectionOfBones128
/Resources/Prototypes/_Harmony/Maps/                @CollectionOfBones128
/Content.IntegrationTests/Tests/PostMapInitTest.cs  @CollectionOfBones128
